<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.GOEAT.Go_Eat">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".GlobalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />
        <activity android:name="com.GOEAT.Go_Eat.reset_password"/>
        <activity android:name="com.GOEAT.Go_Eat.success_sign_up" />
        <activity android:name="com.GOEAT.Go_Eat.register_activity" />
        <activity android:name="com.GOEAT.Go_Eat.login_activity" />
        <activity android:name="com.GOEAT.Go_Eat.hello2" />
        <activity android:name="com.GOEAT.Go_Eat.register_select" />
        <activity android:name="com.GOEAT.Go_Eat.hello" />
        <activity android:name="com.GOEAT.Go_Eat.start3nd" />
        <activity android:name="com.GOEAT.Go_Eat.start2nd" />
        <activity android:name="com.GOEAT.Go_Eat.ChooseHateFood" />
        <activity android:name=".CheckUserTasteThird" />
        <activity android:name=".CheckUserTasteSecond" />
        <activity android:name=".CheckUserTasteFirst" />
        <activity android:name=".CheckUserTaste" />
        <activity android:name=".MakeCharCompleteActivity" />
        <activity android:name="com.GOEAT.Go_Eat.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>